@media (max-width: 1024px) {
  .about-info {
    text-align: center;
    padding-right: 20px;
  }

  .about-header,
  .details-header {
    text-align: center;
  }
}

@media (max-width: 950px) {
  .about-info {
    width: 50%;
  }

  .photos {
    width: 50%;
  }

  .cards {
    flex-wrap: wrap;
  }

  .card {
    width: 49%;
  }
}

@media (max-width: 885px) {
  .about-wrapper {
    flex-direction: column;
  }

  .about-info {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }

  .photos {
    width: 70%;
  }

  .small-about {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .burger-bar {
    display: block;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
  }

  .photos {
    width: 90%;
  }

  .card {
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }
}
